body {
    background-color: rgb(255, 244, 240);
  }
  
  /* .navbar {
    background-color: #efdad7;
    border: 1px solid rgb(194, 157, 157);
  }
  
  .navbar2 {
    background-color: #e3bec6;
  }
  
  footer {
    margin-top: 10px;
    height: 10vh;
    background-color: #e3bec6;
  }
  
  .bi-house-door {
    width: 20px;
  }
  
  .carousel {
    margin-top: 10px;
  }
   */
  .card {
    transition: 0.5s;
  }
  .card:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  